@import '../../styles/variables';

.card {
    display: flex;
    flex-direction: column;    
    flex: 1;
    gap: 24px;
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35);
    padding: 40px 32px;

    &__header {
        display: flex;
        gap: 16px;
        width: 100%;
        justify-content: space-between;

        aside {
            display: flex;
            flex-direction: column;
            gap: 24px;

            h3 {
                font-size: 24px;
                font-weight: 900px;
            }

            > div {
                font-weight: 700;
                
                div {
                    font-size: 12px;
                    color: $color-gray-purple;   
                    text-transform: uppercase;
                }
                span {                    
                    font-size: 20px;                    
                }
            }
        }

        img {
            width: 56px;
            height: 56px;
        }
    }   

    hr {
        border: none;
        border-bottom: 1px solid #D7DBF5;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        
        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;

            li {
                list-style: disc;

                span {
                    font-weight: bold;
                }
            }
        }        
    }   

    &__button {
        cursor: pointer;
        padding: 14px 32px;
        border-radius: 32px;
        background-color: $color-red-carmesi;
        color: white;        
        font-size: 18px;
        font-weight: 700;
    }
}